<template>
  <div class="row">
    <div class="col">
      <h3>Items</h3>
      <div v-if="loading">Please wait ... </div>
      <button @click="refresh">Fetch</button>

      <items-list :items="items"
        @create-item=" addItem($event) "
        @remove-item="removeItem"
        @select-item="select($event)"
        :selected="selected"
      ></items-list>

    </div>
    <div class="col">

      <item-form :item="selected"  v-if="editing"
        @cancel="editing = false"            
        @save="save($event)"            
      >
      </item-form>
      <item-details :item="selected" v-else
        @edit="editing = true"
      >
      </item-details>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import ItemsList from "@/components/ItemsList.vue";
import ItemDetails from "@/components/ItemDetails.vue";
import ItemForm from "@/components/ItemForm.vue";
import { Item } from "@/model/item.interface";
import { mapGetters, mapActions } from "vuex";

import axios from "axios";

@Component<Items>({
  components: {
    "items-list": ItemsList,
    "item-details": ItemDetails,
    "item-form": ItemForm
  },
  filters: {
    capitalize(v: string) {
      return v.toUpperCase();
    }
  },
  beforeRouteUpdate(to, from, next) {
    const id = parseInt(to.params["id"]);
    if (id) {
      this.$store.dispatch("select", id);
    }
    next();
  },
  computed: {
    ...mapGetters({
      items: "items",
      selected: "selected"
    })
  }
  // methods: {
  //   ...mapActions({
  //     addItem: "addItem",
  //     removeItem: "removeItem"
  //   })
  // }
})
export default class Items extends Vue {
  items!: Item[];

  selected!: Item;

  editing = false;
  loading = false;

  refresh() {
    this.loading = true;
    this.$store.dispatch("fetchTodos").then(() => {
      this.loading = false;
    });
  }

  addItem(title: string) {
    this.$store.dispatch("addItem", title);
  }

  removeItem(item: Item) {
    this.$store.dispatch("removeItem", item);
  }

  save(draft: Item) {
    // this.select(draft);
    this.$store.dispatch("saveTodo", draft).then(() => {
      this.$store.dispatch("select", draft.id);
    });
    this.editing = false;
  }

  select(item: Item) {
    this.$router.push({
      name: "item",
      params: {
        id: "" + item.id
      }
    });
  }
}
</script>

<style>
</style>
