<template>
  <div class="row">
    <div class="col">

      <div class="list-group">
        <div v-for="user in users"
          :is="user == expanded? 'UserItemExpanded' : 'UserItem'"
          @toggle="expanded = expanded == user? null : user"
          v-bind="{user:user}"
          :key="user.id">
        </div>
      </div>

    </div>
    <div class="col"></div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import UserItem from "@/components/UserItem.vue";
import UserItemExpanded from '@/components/UserItemExpanded.vue';

@Component({
  components: {
    // "user-item": UserItem
    UserItem,
    UserItemExpanded
  }
})
export default class Users extends Vue {
  users = [
    {
      id: 123,
      name: "Alice",
      email: "asd@asd.pl",
    },
    {
      id: 234,
      name: "Bob",
      email: "asd@asd.pl",
    }
  ];
  expanded = false
}
</script>



<style>
</style>
