<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>Hello</h1>

  <div id="app">
    <h3>{{ 'Title: ' + post.message}}</h3>
    <p>{{post.likes ? post.likes +' likes' : 'No one likes me ;-('}}</p>
    <button v-on:click="like">Like!</button>
  </div>


  <script src="https://unpkg.com/vue"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        post: {
          message: 'Hello from Vue!',
          likes: 0
        }
      },
      methods: {
        like(event) {
          console.log('event from vue',event)
          this.post.likes++
        }
      }
    })
  </script>
</body>

</html>