<template>
     <div class="form-group">
      <label for="">{{label}}</label>
      <input type="text" class="form-control" 
        v-bind="$attrs"
        :value="value"
        @dblclick="$listeners.reset"
        @input="$emit('input',$event.target.value)">
    </div>

</template>

<script lang="ts">
import Component from "vue-class-component";
import Vue from "vue";
import { Prop } from "vue-property-decorator";

@Component({
  inheritAttrs: false,
  model: {
    prop: "value",
    event: "input"
  }
})
export default class FormField extends Vue {
  @Prop() label!: string;
  @Prop() value!: string;
}
</script>

<style>
</style>
