
<template>
  <div>
    <div class="list-group" v-if="items.length">
      <div class="list-group-item"
            :key="item.id"
            @click="selectItem(item)"
            :class="{
              active: selected && selected.id == item.id
            }"
            v-for="(item,index) in items">
            <input type="checkbox" v-model="item.completed" @click.stop>
        {{index+1}}. {{item.title}}
        
        <span class="close float-right"
        @click.stop="removeItem(item)">&times;</span>
      </div>
    </div>
    <div v-else>Nothing to show ...</div>

    <div>
      Completed count: 
      {{ completedCount }}
    </div>

    <div class="input-group mt-2">
      <input type="text" class="form-control" autofocus
        @keyup.enter="addItem($event.target.value)"
        ref="titleInputRef">
      
      <button class="btn" 
      @click="addItem($refs.titleInputRef.value)">
        Add
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import Component from "vue-class-component";
import { Prop } from 'vue-property-decorator';
import Vue from "vue";

import { Item } from "@/model/item.interface";

@Component({
  // props: ["items"]
})
export default class ItemsList extends Vue {
  
  @Prop()
  items!: Item[];

  @Prop()
  selected!:Item

  addItem(title: string) {
    this.$emit('create-item',title);
    (this.$refs.titleInputRef as HTMLInputElement).value = ''
  }

  removeItem(item:Item){
    this.$emit('remove-item',item)
  }

  selectItem(item:Item){
    this.$emit('select-item',item)
  }

  // Derived from items - memoized / computed value
  get completedCount() {
    return this.items.filter(item => item.completed).length;
  }
}
</script>

<style>
</style>
