<template>
    <div>
      <dl :title="item.title" 
          class="item"
          :class="item.completed ? 'completed' : ''">
        <dt>Title:</dt>
        <dd v-text="item.title"></dd>

        <dt>Completed</dt>
        <dd>{{ item.completed? 'Yes' : 'No' }}</dd>
        
        <dt>Color</dt>
        <dd style="background:#fef;" :style="{
          color:item.color
        }">{{ item.color }}</dd>
      </dl>

      <input type="button" class="btn btn-info" value="Edit" @click="$emit('edit')">
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop } from "vue-property-decorator";
import { Item } from "@/model/item.interface";

@Component({})
export default class ItemDetails extends Vue {
  @Prop() item!: Item;
}
</script>


<style>
</style>
