<template>
    <div>
      <div class="form-group">
        <label>Title: </label>
        <input v-model="draft.title"
        type="text" class="form-control">
      </div>
      
      <div class="form-group">
        <label>Completed: </label>
        <input v-model="draft.completed"
        type="checkbox" class="form-check">
      </div>
      
      <div class="form-group">
        <label>Color: </label>
        <input  v-model="draft.color"
        type="color">
      </div>

      <input type="button" class="btn btn-danger" value="Cancel" @click="cancel">
      <input type="button" class="btn btn-success" value="Save" @click="$emit('save', draft)">
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop } from "vue-property-decorator";
import { Item } from "@/model/item.interface";

@Component({})
export default class ItemForm extends Vue {
  @Prop() item!: Item;

  draft?: Item = { ...this.item }

  constructor() {
    super();
    console.log("constructor", this.item);
    // this.draft = { ...this.item };
  }

  cancel() {
    // if(confirm('Are you sure!?')){
    this.$emit("cancel");
    // }
  }

  created() {
    console.log("created");
  }

  mounted() {
    console.log("mounted");
  }

  beforeUpdate() {
    console.log("beforeUpdate",this.item);
  }

  updated() {
    console.log("updated");
  }

  beforeDestroy() {
    console.log("beforeDestroy");
  }
}
</script>

<style>
</style>
