<template>

  <div class="list-group-item">
      <span class="close" @click="$emit('toggle')">&times;</span>

     <!-- v-model:
        :value="user.name"
        @input="user.name = $event" -->

     <form-field label="Name"
        v-model="user.name"
        @reset="user.name = ''">
     </form-field> 

     <form-field label="Email" 
        v-model="user.email"
        @reset="user.email = ''">
     </form-field>
  
    <button class="btn btn-success" @click="$emit('toggle')">
      Save
    </button>
  </div>
</template>

<script lang="ts">
import Component from "vue-class-component";
import Vue from "vue";
import { Prop } from "vue-property-decorator";
import FormField from "@/components/FormField.vue";

@Component({
  components: {
    FormField
  }
})
export default class UserItem extends Vue {
  @Prop() user: any;
}
</script>
