<template>
  <div class="list-group-item">
      <span class="close" @click="$emit('toggle')">+</span>
    {{user.name}}
  </div>
</template>

<script lang="ts">
import Component from "vue-class-component";
import Vue from "vue";
import { Prop } from "vue-property-decorator";

@Component({})
export default class UserItem extends Vue {
  
  @Prop() user: any;
}
</script>

