<template>
  <div id="app">
    <!-- https://getbootstrap.com/docs/4.1/components/navbar/#nav -->

<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
  <div class="container">
    <router-link class="navbar-brand" to="/">Navbar</router-link>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <router-link  class="nav-link" to="/" active-class="active">
            Home
          </router-link>
        </li>
        <li class="nav-item">
          <router-link  class="nav-link" to="/items" active-class="active">
            Items
          </router-link>
        </li>
        <li class="nav-item">
          <router-link  class="nav-link" :to="{name:'users'}" active-class="active">
              Users
          </router-link>
        </li>
      </ul>
    </div>
  </div>
</nav>


    <div class="container">
      <router-view></router-view>
    </div>
   
  </div>
</template>

<style>
@import "~bootstrap/dist/css/bootstrap.css";
</style>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import Items from "@/views/Items.vue";
import Users from "@/views/Users.vue";

@Component<App>({
  // components: {
  //   items: Items,
  //   users: Users
  // }
})
export default class App extends Vue {}

export function time(v: Date) {
  return new Date(v).toLocaleTimeString();
}
// import {time} from './filters.ts';
Vue.filter("time", time);
</script>

